header {
  background-color: black;
  color: white;
  nav {
    display: flex;
    align-content: space-between;
    padding: 20px;
    .logoContainer {
      align-self: center;
      img {
        width: 2.5rem;
      }
    }
    ul {
      display: flex;
      align-items: center;
      li {
        list-style-type: none;
        a {
          color: white;
          transition: opacity 0.4s ease-in-out;
          &:hover {
            color: white;
            opacity: 0.8;
          }
        }
      }
    }
    .customContact {
      background-color: #0066ff;
      padding: 5px 20px;
      border-radius: 222px;
      margin-left: 10px;
    }
  }
}
